/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-text-weight: 410;
  --subtitle-weight: 715;
  --background-gradient:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --border-elements: 2px solid #000;
  --margin: 100px;
  --width-project: clamp(320px, 100%, 700px);
  --stroke-color: white;
  --contour-color: black;
  --animation-fill-color: red;
  --sparks-color: transparent;
}
